.root {
  position: absolute;
  top: 7px;
  left: -5px;
  width: auto;
  height: 1.5rem;
  padding: 0.125rem 0.625rem 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: theme('colors.base-100');
  background: theme('colors.neutral');
  text-transform: uppercase;
  z-index: 10;
}
.root::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  bottom: -6px;
  border: 3px solid;
  border-color: theme('colors.neutral') theme('colors.neutral') transparent
    transparent;
}
