@import './fonts.css';
@tailwind base;
@layer base {
}
@tailwind components;
@tailwind utilities;

/* theme */
[data-theme='recvan']:checked ~ * {
  --p: 37 30% 50%;
  --pf: 38 31% 35%;
  --pc: 0 0% 100%;
  --s: 58 28% 27.1%;
  --sf: 58 27% 38.1%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --af: 174 59.8% 41%;
  --ac: 0 0% 100%;
  --n: 0 0% 15%;
  --nf: 0 0% 30%;
  --nc: 43 16% 71%;
  --b1: 219 14.1% 27.8%;
  --b2: 0 0% 15%;
  --b3: 45 14% 95%;
  --bc: 43 16% 71%;
  --in: 202 100% 70%;
  --su: 89 61.6% 52%;
  --wa: 54 68.8% 63.5%;
  --er: 0 100% 71.8%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: 0.5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}
[data-theme='light']:checked ~ * {
  --p: 259 94.4% 51.2%;
  --pf: 259 94.3% 41%;
  --pc: 0 0% 100%;
  --s: 314 100% 47.1%;
  --sf: 314 100% 37.1%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --af: 174 59.8% 41%;
  --ac: 0 0% 100%;
  --n: 219 14.1% 27.8%;
  --nf: 222 13.4% 19%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12.2% 83.9%;
  --bc: 215 27.9% 16.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: 0.5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}
[data-theme='cupcake']:checked ~ * {
  --p: 183 47.4% 59%;
  --pf: 183 47.2% 49%;
  --pc: 0 0% 100%;
  --s: 338 71.4% 78%;
  --sf: 338 71.8% 68%;
  --sc: 0 0% 100%;
  --a: 39 84.1% 58%;
  --af: 39 83.7% 48%;
  --ac: 0 0% 100%;
  --n: 280 46.5% 13.9%;
  --nf: 279 46.4% 11%;
  --nc: 0 0% 100%;
  --b1: 24 33.3% 97.1%;
  --b2: 27 22% 92%;
  --b3: 22 14.3% 89%;
  --bc: 280 46.5% 13.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 1.9rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: 0.5rem;
  --border-btn: 1px;
  --tab-border: 2px;
  --tab-radius: 0.5rem;
}
[data-theme='dark']:checked ~ * {
  --p: 259 94% 61%;
  --pf: 259 94.4% 51.2%;
  --pc: 0 0% 100%;
  --s: 314 100% 47.1%;
  --sf: 314 100% 37.1%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --af: 174 59.8% 41%;
  --ac: 0 0% 100%;
  --n: 222 13.4% 19%;
  --nf: 223 13.7% 10%;
  --nc: 0 0% 100%;
  --b1: 219 14.1% 27.8%;
  --b2: 222 13.4% 19%;
  --b3: 223 13.7% 10%;
  --bc: 228 14.3% 93.1%;
  --in: 202 100% 70%;
  --su: 89 61.6% 52%;
  --wa: 54 68.8% 63.5%;
  --er: 0 100% 71.8%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: 0.5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}
[data-theme='retro']:checked ~ * {
  font-family: uisecondaryerif, Georgia, Cambria, Times New Roman, Times, serif;
  --p: 3 73.8% 76.1%;
  --pf: 3 73.6% 65.9%;
  --pc: 345 5.3% 14.9%;
  --s: 145 27.3% 72%;
  --sf: 145 26.8% 62%;
  --sc: 345 5.3% 14.9%;
  --a: 49 67.2% 76.1%;
  --af: 49 66.7% 65.9%;
  --ac: 345 5.3% 14.9%;
  --n: 42 16.8% 42%;
  --nf: 41 13.1% 23.9%;
  --nc: 45 47.1% 80%;
  --b1: 45 47.1% 80%;
  --b2: 45 37.1% 72%;
  --b3: 42 36% 65.1%;
  --bc: 345 5.3% 14.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 0.4rem;
  --rounded-btn: 0.4rem;
  --rounded-badge: 0.4rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: 0.5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}
:root {
  --header-height: 70px;
  --bottom-offset: 100px;
}
h1,
h2 {
  @apply tracking-widest font-heading;
}
body {
  @apply bg-base-300 font-body text-base-content;
}
[data-theme]:checked ~ * {
  @apply bg-base-300 font-body text-base-content;
}
@screen md {
  :root {
    --header-height: 100px;
    --bottom-offset: 0;
  }
}
@screen lg {
  :root {
    --header-height: 100px;
  }
}
/* custom */
.btn {
  min-height: 2.5rem;
  height: 2.5rem;
}
.input {
  height: 2.5rem;
  font-size: 1rem;
}
